@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins';
    color: black;
}

.correct {
    background-color: rgba(23, 255, 7, 0.247) !important;
    border-color: rgba(48, 255, 7, 0.247) !important;
}